tls-server
dev {{ tuntap }}
local 0.0.0.0
port {{ port }}
proto {{ proto }}

topology subnet
server 10.8.0.0 255.255.255.0
push "route 192.168.0.0 255.255.255.0"
push "redirect-gateway def1"


ca {{ key_dir }}/ca.crt
cert {{ key_dir }}/server.crt
key {{ key_dir }}/server.key

{% if dh %}
dh {{ key_dir }}/dh2048.pem
{% endif %}

{% if ta %}
tls-auth {{ key_dir }}/ta.key 0
{% endif %}

cipher AES-256-CBC

comp-lzo

verb 3

#user nobody
#group nobody

mssfix 1428
